<% provide(:title, 'About') %>

<div class="row">
  <div class="span6 offset5">
    <h1>About</h1>
  </div>
</div>


<div class="span10 offset1">
	<b>Flyberbach.com Developers</b>
	<p>
		Michael
	</p>
	<p>
		Dimitri
	</p>
	<p>
		Joe 
	</p>

</div>
