<% provide(:title, 'Help') %>
<div class="span10 offset1">
	<p>
		You have come to the right place!  Here are Flyberbach.com we are interested
		in providing you the best service possible.  Our development team is focused 
		on making sure that you get exactly what you deserve.  Which, unfortunately, 
		looking at the data the NSA has collected on you, isn't much.  
	<p>
</div>
