<% provide(:title, 'Home') %>

<div class="row">
  <div class="span6 offset5">
    <h1>Home</h1>
  </div>
</div>

<div class="span10 offset1">
<p>
	Welcome to Flyberbach.com, your source for flights to wherever your heart desires! Well, as
	long as the destination is in our very small collection of approved destinations.  But you 
	can't blame us for that, we are only following the rules!  No really, this very small selection
	has nothing to so with our interest in entering test data into this project's database.
</p>
<p>
	Enjoy your flight!
</p>

</div>
