<h1>All flights</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Airline</th>
    <th>FlightNo</th>
    <th>PlaneType</th>
    <th>Departing Time</th>
    <th>Departing Airport</th>
    <th>Arrival Time</th>
    <th>Arriving Airport</th>
    <th>Price</th>
    <th>Remark</th>
  </tr>
 </table>

<%= will_paginate %>

<ul class="flights">
  <%= render @flights %>
</ul>

<%= will_paginate %>

<%= link_to 'Back', flights_path %>
