<% provide(:title, 'All Flights') %>
<div class="row">
  <div class="span6 offset5">
    <h1>All flights</h1>
  </div>
</div>

<div class="span10 offset1">
    <table class="table table-striped table-hover"  width = "800">
        <tr>
            <th>Airline</th>
            <th>FlightNo</th>
            <th>PlaneType</th>
            <th>Departing Time</th>
            <th>Departing Airport</th>
            <th>Arrival Time</th>
            <th>Arriving Airport</th>
            <th>Price</th>
            <th>Remark</th>
        </tr>

        <%= will_paginate %>

        <ul class="flights">
            <%= render @flights %>
        </ul>

        <%= will_paginate %>
     </table>
</div>
