<% provide(:title, 'Search Results') %>

<div class="row">
  <div class="span6 offset4">
    <h1>Search Results</h1>
  </div>
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>Airline</th>
        <th>FlightNo</th>
        <th>PlaneType</th>
        <th>Departing Time</th>
        <th>Departing Airport</th>
        <th>Arrival Time</th>
        <th>Arriving Airport</th>
        <th>Price</th>
        <th>Remark</th>
    </tr>

<%= render :partial => @search.flights %>


</table>